.heading{
   font-size: 25px;
   width: 100%;
   margin: 0px;
   box-shadow: 5px 10px 10px grey;
}

.heading2{
    box-shadow: 5px 5px 5px gray;
}

.note{
    font-size: 20px;
    text-align: center;
}

.copy_right_footer{
    width: 100%;
    position: fixed;
    font-size: 20px;
    bottom: 0px;
    text-align:center;
    color: purple;
    background-color: rgb(247, 237, 103);
    font-family: 'Itim', cursive;

}

.canvas{
    border-radius: 20px;
    border-style: double;
    border-color: violet;
    box-shadow: 5px 5px 5px gray;
}

